@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root,
.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.scroll {
  height: 500vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
.dot {
  pointer-events: none;
  position: sticky;
  top: 0px;
  display: inline-block;
  max-width: 600px;
  padding: 0;
  padding: 80px;
  color: black;
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.dot > h1 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: black;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

body {
  background: #fff;
  font-family: inter;
}
.caption {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 80px;
  color: black;
  font-size: 8em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

.container { 
  overflow-y: auto;
  overflow-x: auto;
  position: absolute;
}
.View{
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height *//* Snap to start of each view */
}
.View-HorizontalScroll{

   /* Full viewport width */
   width: 100vw;
  height: 100vh; /* Full viewport height */
  overflow: hidden;

}

svg {
  fill: #a0a0a0;
}

.canvas {

  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}


