@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root,
.scroll {
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* overflow: auto; */
  padding: 0;
  pointer-events: auto;
}
.scroll {
  width: 100vw;
  height: 500vh;
  position: sticky;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  pointer-events: none;
  z-index: 10;
}
.dot {
  position: sticky;
  top: 0px; 
  display: inline-block;
  max-width: 600px;
  padding: 0;
  padding: 80px;
  color: black;
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 1.5px;
}

.dot > h1 {
  -webkit-font-smoothing: auto;
  color: black;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

body {
  background: #fff;
  font-family: inter;
}
.caption {
  position: fixed;
  top: 0;
  right: 0;
  margin: 80px;
  color: black;
  font-size: 8em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

.container { 
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  width: 100vw;
  height: 500vh;  /* Enable vertical scroll snapping */
  white-space: nowrap;
  overflow-x: hidden;
  /* overflow-x: auto; */

}
.View{
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height *//* Snap to start of each view */
  pointer-events: auto;
}
.View-Horizontal{
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height *//* Snap to start of each view */
  white-space: nowrapaa;
  overflow-y: hidden;
  overflow-x: auto;
  pointer-events: auto;

}
.View-HorizontalScroll{
  white-space: nowrap;
   /* Full viewport width */
   width: 200vw;
  height: 100vh; /* Full viewport height */
}

svg {
  fill: #a0a0a0;
}


/* Loading Screen */

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  background-image: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 8s;
  z-index: 1;
  font-family: "Almendra", serif;
}




.loadingScreen__progress {

  margin-bottom: 10px;
  pointer-events: none;

}
.loadingScreen__progress__value {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0);
  transition: width 2s;
  pointer-events: none;
}

.loadingScreen--started {
  opacity: 0;
  pointer-events: none;
}

.loadingScreen--started .loadingScreen__board {
  opacity: 0;
  pointer-events: none;
}